spring:
  elasticsearch:
    host: localhost:9200
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    hikari:
      maximum-pool-size: '100'
    url: jdbc:mysql://localhost:3306/final?useSSL=false&allowPublicKeyRetrieval=true&allowMultiQueries=true&serverTimezone=UTC&characterEncoding=UTF-8
    password: 'computer'
  security:
    oauth2:
      client:
        registration:
          google:
            client-secret: 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
            client-id: 761025867741-vp5bsf5pk8s7aglkstlr1uf3gifhrad2.apps.googleusercontent.com
            scope: profile, email
  profiles:
    includes: oauth
  servlet:
    multipart:
      file-size-threshold: 1MB
      location: C:/Image
      max-file-size: 200MB
      max-request-size: 215MB
  mail:
    host: smtp.gmail.com
    port: 587
    username: qwerty43971
    password: lebtkwulscrxygar
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
          ssl:
            trust: smtp.gmail.com
            protocols: TLSv1.2
        transport:
          protocol: smtp

      

file:
  upload-dir: C:/final/finalPjt/Back/demo/src/main/webapp/img/
#a.imgdir: C:/final/finalPjt/Back/demo/src/main/webapp/ate/
#dish.imgdir: C:/final/finalPjt/Back/demo/src/main/webapp/dish/img/
#ate.imgdir: C:/final/finalPjt/Back/demo/src/main/webapp/ate/img/ 
AteuploadPath: C:/final/finalPjt/Back/demo/src/main/webapp/ate/
DishDBuploadPath: C:/final/finalPjt/Back/demo/src/main/webapp/dishDB/   
    
    
server:
  port: 8080
  
mybatis:
  mapper-locations: classpath:mappers/*.xml
  type-aliases-package: com.example.demo.vo, com.example.demo.dto
  configuration:
   call-setters-on-nulls: true
   return-instance-for-empty-row: true
   jdbcTypeForNull: null

logging:
  config: classpath:logback-spring.xml

          
JwtProperties:
  secretKey: final
  refreshKey: rfstokken
  changePW: finally

