spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: final
    hikari:
      maximum-pool-size: '100'
    url: jdbc:mysql://localhost:3306/final?useSSL=false&allowPublicKeyRetrieval=true&allowMultiQueries=true&serverTimezone=UTC&characterEncoding=UTF-8
    password: '1234'
  security:
    oauth2:
      client:
        registration:
          google:
            client-secret: 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
            client-id: 761025867741-vp5bsf5pk8s7aglkstlr1uf3gifhrad2.apps.googleusercontent.com
            scope: profile, email
  profiles:
    includes: oauth
  servlet:
    multipart:
      file-size-threshold: 1MB
      location: C:/Image
      max-file-size: 200MB
      max-request-size: 215MB

file:
  upload-dir: C:/Dev/MyWorkspace/demo2/src/main/webapp/img/
a.imgdir: C:/Dev/MyWorkspace/demo2/src/main/webapp/img/
dish.imgdir: C:/Dev/MyWorkspace/demo2/src/main/webapp/dish/img/
ate.imgdir: C:/Dev/MyWorkspace/demo2/src/main/webapp/ate/img/ 
    
    
server:
  port: 8080
  
mybatis:
  mapper-locations: classpath:mappers/*.xml
  type-aliases-package: com.example.demo.vo
  
logging:
  level:
    com:
      example:
        demo: debug
    org:
      springframework:
        security:
          web: trace
          
JwtProperties:
  secretKey: final
  refreshKey: rfstokken