mybatis:
  type-aliases-package: com.example.demo.vo
server:
  port: 8080
spring:
  datasource: 
    # driver-class-name: com.mysql.cj.jdbc.Driver
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/final?useSSL=false&allowPublicKeyRetrieval=true
    username: root
    password: 'computer' 
  servlet:
    multipart:
      file-size-threshold: 1MB
      location: C:/Image
      max-file-size: 200MB
      max-request-size: 215MB
file:
  upload-dir: C:\Temp
